<ul class="artist_list">
  <% @all_artists.each do |artist|%>
    <li>
      <% @count = artist.songs_count %>
      <a href="/<%= artist.name %>"><%= artist.name %></a> -- <%= @count %> <%= artist.song_word(@count)%>
    </li>
  <% end %>
</ul>