<!DOCTYPE html>
<html>
  <head>
    <title>Extreme Playlister</title>
  </head>
  <body>
    <h1>Playlister!</h1>
    <div class="nav">
      <a href="/artists">List All Artists</a>
      <a href="/genres">List All Genres</a>
    </nav>
    <%= yield %>
  </body>
</html>