/*color scheme: http://colorschemedesigner.com/#5341X----De--*/

body {
  font-family: 'Denk One', sans-serif;
  background-color: #FF80DC;
  margin-top: -20px;
  font-size: 14px
}

h1 {
  margin-top: 0;
  text-align: center;
}

h1 a, h1 a:hover{
  color: #FF8089;
  font-size: 70px;
}

a {
  text-decoration: none;
  color: #138F00;
  font-size: 20px;
}

a:hover {
  color: #23FF00;
}

ul {
  margin-top: -10px;
}

li {
  padding: 5px;
  list-style-type: none
}

form {
  position: absolute;
  right: 5%;
  top: 10px;
}

label {
  color: #90AF37;
}

input {
  border-radius: 10px;
  padding-left: 7px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

button {
  background-color: #90AF37;
  border-radius: 10px;
  color: #BEFF00;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.header {
  background-color: #23FF00;
  padding: 50px 0 0;
  position: fixed;
  width: 100%;
  z-index: 1
}

.content {
  position: relative;
  top: 183px;
  width: 100%;
  height: auto;
  min-height: 300px;
}

.nav {
  position: absolute;
  top: 75px;
  width: 100%;
  height: 45px;
}

.nav a {
  color: #90AF37;
  text-decoration: none;
  font-size: 16px;
}

.nav a:hover {
  color: #FFE6E7;
}

.artist_nav {
  position: absolute;
  left: 15%;
}

.genre_nav {
  position: absolute;
  left: 15%;
  top: 20px;
}

.artists a {
  font-size: 100px;
  font-family: 'Cantata One', serif;
}

.genres a {
  font-size: 100px;
  font-family: 'Cantata One', serif;
}

.artists {
  padding-top: 100px;
  height: 100%;
  width: 50%;
  background-color: #FF8089;
  position:fixed;
  left: 0;
  top: 130px;
  text-align: center;
}

.genres {
  padding-top: 100px;
  height: 100%;
  width: 50%;
  background-color: #DEFF80;
  position:fixed;
  right: 0;
  top: 130px;
  text-align: center;
}

.artist {
  background-color: #FF8089;
}

.genre {
  background-color: #DEFF80;
}

.list {
  /*padding: 40px 0;*/
  text-align: center;
  min-height: 400px
}

.category {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-family: 'Cantata One', serif;
  color: #6A8F00;
}